In [2]:
name = "siya ram"
print (name)

siya ram

In [23]:
#how to work string
#string work on index
print ("the lengh of string stored in name variable")
len_name = len(name)
print (len_name)
# we can iterate string using loop
print ("....................................................")
print ("string iterate using loop")
for i in name:
    print (i);

#we can print index no of string using loop
print (".....................................................")
print ("we can print index no. of string (siya ram) using loop")
for i in range (len(name)):
    print (i)

print ("index no of string:- string siya ram (index no of s is 0 )(index no of i is 1) (index no of y is 2) (index no of a is 3 )(index no of space(" ") is 4) etc.")

the lengh of string stored in name variable
8
....................................................
string iterate using loop
s
i
y
a

r
a
m
.....................................................
we can print index no. of string (siya ram) using loop
0
1
2
3
4
5
6
7
index no of string:- string siya ram (index no of s is 0 )(index no of i is 1) (index no of y is 2) (index no of a is 3 )(index no of space() is 4) etc.

In [26]:
# we can print particular string character using index no.
print (name[0])
print (name[1])
print (name[2])
print (name[3])
print (name[4])
print (name[5])
print (name[6])
print (name[7])

s
i
y
a

r
a
m

In [40]:
panno = str(input("ENTER PAN NUMBER"))
pan = panno.upper()
lengh_pan = len(pan)
if lengh_pan == 10:
    print (pan)
else:
    print ("PLEASE CHECK THE PAN NUMBER");

ENTER PAN NUMBER AAAAA2222A

AAAAA2222A

In [41]:
panno = str(input("ENTER PAN NUMBER"))
pan = panno.upper()
lengh_pan = len(pan)
if lengh_pan == 10:
    print (pan)
else:
    print ("PLEASE CHECK THE PAN NUMBER");

ENTER PAN NUMBER AAAAA2222AA

PLEASE CHECK THE PAN NUMBER

In [43]:
address = "i am from rajasthan"
print ("am" in address) #it will give true bcz "am" is available in address variable

True

In [44]:
print ("from" in address)  #it will give true bcz "from" is available in address variable

True

In [45]:
print ("hello" in address)  #it will give false bcz "hello" is not available in address variable

False

In [48]:
address = "i am from rajasthan"
for i in address:
    print (i)

i

a
m

f
r
o
m

r
a
j
a
s
t
h
a
n

In [55]:
address = "i am from rajasthan"
if "am" in address:
    print ("yes (am) is available in address variable")

yes (am) is available in address variable

In [56]:
address = "i am from rajasthan"
if "amm" in address:
    print ("yes (amm) is available in address variable")
else:
    print ("no , (amm) is not available in address variable")

no , (amm) is not available in address variable

In [61]:
address = "i am from rajasthan"
if "am" not in address:
    print ("yes , (am) is not available in address variable")
else:
    print ("no , (am) is available in address variable")

no , (am) is available in address variable

In [83]:
#slicing (cut anything) function
#string name (start index , end index)
#start is include but end part is exclude
name = "yogesh pareek"
for i in range(len(name)):
    print (name[i] , "index no -" , i)

print ("...................................................")
newname = name[0:6]
print (newname)
print (name)
newname = name[7:13]
print (newname)
print (name[:6] , "if we keep start wiht empty than it capture automatic index 0 and same will be happening in end part")

y index no - 0
o index no - 1
g index no - 2
e index no - 3
s index no - 4
h index no - 5
  index no - 6
p index no - 7
a index no - 8
r index no - 9
e index no - 10
e index no - 11
k index no - 12
...................................................
yogesh
yogesh pareek
pareek
yogesh if we keep start empty than it capture automatic index 0 and same will be happening in end part

In [85]:
pwd% #location of this file

'C:\\Users\\acer'

In [96]:
print (name[-13:-7])

yogesh

In [97]:
print (name[-6:])

pareek

In [32]:
#upper case
print ("upper case")
name = "Yogesh pareek"
print (name.upper())
print ("...................................................")
print ("lower case")
print (name.lower())
print ("...................................................")
name2 = name.replace("Y","a") #replace function do replace any character in string 
print (name2) #replace(what,by)
print ("...................................................")
print (name.split(" ")) #split function make a list from string
print (type(name.split(" ")))
print ("...................................................")
#concatenate
firstname = "yogesh"
lastname = "pareek"
fullname = firstname + " " + lastname
print (fullname)
print ("...................................................")
name = "yogesh pareek"
age = 26
detailedname = "i am {1} ,my age is {0}" #format function in 
print (detailedname.format(age, name))

upper case
YOGESH PAREEK
...................................................
lower case
yogesh pareek
...................................................
aogesh pareek
...................................................
['Yogesh', 'pareek']
<class 'list'>
...................................................
yogesh pareek
...................................................
i am yogesh pareek ,my age is 26

In [81]:
name = "yogesh pareek"
print ("y" in name)
print ("................")
if "y" in name:
    print ("yes , it is available in name variable")
    print ("................")
if "z" in name:
    print ("yes , it is available in name variable")
else:
    print ("no , it is not availbale in this variable")

True
................
yes , it is available in name variable
................
no , it is not availbale in this variable

In [42]:
#list function
list1 = ["apple", "banana" , "cherries"]
print (list1)
print ("...................................................")
for i in list1:
    print (i)
print ("...................................................")
listrange = len(list1)
print (listrange)
print ("...................................................")
for i in range(listrange):
    print (list1[i])

['apple', 'banana', 'cherries']
...................................................
apple
banana
cherries
...................................................
3
...................................................
apple
banana
cherries

In [58]:
#list
list1 = ["apple", "banana" , "cherries"]
list1[1] = "mango"
print (list1)
print ("...................................................")
list1[2] = "banana"
print (list1)
print ("...................................................")
list1 = ["apple", "banana" , "cherries", "grapes", "almonds"]
print (list1)
list1[1:3] = "mango","tomato"
print (list1)
list1.insert(1 , "Strawberry")
print (list1)

['apple', 'mango', 'cherries']
...................................................
['apple', 'mango', 'banana']
...................................................
['apple', 'banana', 'cherries', 'grapes', 'almonds']
['apple', 'mango', 'tomato', 'grapes', 'almonds']
['apple', 'Strawberry', 'mango', 'tomato', 'grapes', 'almonds']

In [71]:
#list
#list = ['Strawberry', 'mango', 'tomato', 'grapes', 'almonds']
#print (list)
list.append("orange") #append take only one argument it not take index number
print (list)
print ("...................................................")
list =  ['Strawberry', 'mango']
list1 = ['tomato', 'grapes', 'almonds']
list.extend(list1)
print (list)
print ("...................................................")
list = ['Strawberry', 'mango', 'tomato', 'grapes', 'almonds']
list.remove("mango") #it take value for remove
print (list)
print ("...................................................")
list.pop(1)
print (list) #it take key for remove
print ("...................................................")
del list[0]
print (list)

['Strawberry', 'grapes', 'almonds', 'orange']
...................................................
['Strawberry', 'mango', 'tomato', 'grapes', 'almonds']
...................................................
['Strawberry', 'tomato', 'grapes', 'almonds']
...................................................
['Strawberry', 'grapes', 'almonds']
...................................................
['grapes', 'almonds']

In [84]:
list = ['Strawberry', 'mango', 'tomato', 'grapes', 'almonds']
newlist =  []
for i in list:
    if "m" in i:
        newlist.append(i)
    print(newlist)

[]
['mango']
['mango', 'tomato']
['mango', 'tomato']
['mango', 'tomato', 'almonds']

In [91]:
list = ['mango', 'tomato', 'grapes', 'almonds']
list.sort()
print (list)
print (".....................")
list.sort(reverse = True)
print (list)
print (".....................")
list = [1 , 2 , 15 , 25 , 3 , 6 , 100]
print (list)
list.sort()
print (list)
list.sort(reverse = True)
print (list)
print (".....................")
list = [1 , 2 , 15 , 25 , 3 , 6 , 100]
list1 = list.copy()
print (list1)

['almonds', 'grapes', 'mango', 'tomato']
.....................
['tomato', 'mango', 'grapes', 'almonds']
.....................
[1, 2, 15, 25, 3, 6, 100]
[1, 2, 3, 6, 15, 25, 100]
[100, 25, 15, 6, 3, 2, 1]
.....................
[1, 2, 15, 25, 3, 6, 100]

In [99]:
#tuple
#tuple is immutable it means we cannot changes in tuple (cannot add item,cannot remove item etc)
tup = ("tomato", "orange" , "banana")
print (tup , type(tup))
print (".....................")
print (tup[1])
print (".....................")
for i in tup:
    print (i)
print (".....................")
tup1 = (1 ,2 , 3 ,4)
tup2 = ("yogesh","anil")
tup3 = tup1 + tup2
print (tup3)
print (".....................")

('tomato', 'orange', 'banana') <class 'tuple'>
.....................
orange
.....................
tomato
orange
banana
.....................
(1, 2, 3, 4, 'yogesh', 'anil')
.....................